@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .no-scrollbar {
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none !important;
      /* Firefox */
    }

    .custom-scrollbar {
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* IE 10+ */
    }

    .custom-scrollbar::-webkit-scrollbar {
      display: none; /* Chrome, Safari */
    }
  }
}
